@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.react-toast {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}


.scrollbar-hidden {
  scrollbar-width: none;
}

/* .scrollbar::-webkit-scrollbar {
  width: 0.8rem;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
} */